h1 {
  text-align: center;
  font-family: fantasy;
}


.body {
  text-align: center;
  background-color: powderblue;
}

.split{
  height: 100%;
  width: 50%;
  position: fixed;
  padding-top: 20px;
}

.left{
  left: 0;
  text-align: center;
  background-color: thistle;
}

#pic {
  width: 500px;
  height: 800px;
}

.assignments {
  padding-top: 700px;
  text-align: center
  list-style-position: inside;

}

.right {
  right: 0;
  text-align: center;
  background-color: LightSteelBlue;
}
