#h1 {
  text-align: center;
  font-family: fantasy;
  background-color: blue;
  position: fixed;
}


.body {
  text-align: center;
  background-color: powderblue;
}

.split{

  width: 50%;
  position: absolute;
  padding-top: 20px;
}

.left{
  left: 0;
  text-align: center;
  background-color: thistle;
}

.right {
  right: 0;
  text-align: center;
  background-color: LightSteelBlue;
}

#pic {
  width: 500px;
  height: 800px;
}

.assignments {
  position: relative;
  text-align: center
  list-style-position: inside;
  padding-top: 900px;
