#pic {
  width: 500px;
  float: right;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: double;
  border-color: black;
}

body {

  background-color: #B40013;
  border-style: double;
  border-color: black;
  border-width: thick;
  padding: 20px;
}

 #heading {
   font-size: 40px;
   color: #C26E77;
 }

.par {
  font-size: 15px;
}
